
.header{
	grid-area: header; 
	background-color: red;
}
.main-bar{
	grid-area: main-bar;
	background-color: black;
	color: white;
}
.menu{
	grid-area: menu; 
	background-color: green;
}
.main{
	grid-area: main; 
	background-color: pink;
}
.footer{
	grid-area: footer; 
	background-color: orange;
}
.grid-container {
	display: grid;
	grid-template-areas:
		'header header header header '
		'main-bar main-bar main-bar main-bar'
		'menu main main main'
		'menu  main main main'
		'menu  main main main'
		'footer footer footer footer';
}
