
.item1{
	grid-area: header; 
	background-color: red;
}
.item2{
	grid-area: main-bar;
	background-color: black;
}
.item3{
	grid-area: menu; 
	background-color: green;
}
.item4{
	grid-area: main; 
	background-color: pink;
}
.item5{
	grid-area: footer; 
	background-color: orange;
}

.grid-container {
display: grid;
grid-template-areas:
	'header header header header '
	'main-bar main-bar main-bar main-bar'
	'menu main main main'
	'menu  main main main'
	'menu  main main main'
	'footer footer footer footer';
grid-auto-columns: 200px auto auto auto;
}

.grid-container > div {
	font-size: 50px;
	color: white;
}
